@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Novo site baseado no site original <a href="https://fuxiquinhakids.com.br/"</a>Fuxiquinha Kids.</p>
</div>
